body {
  background: linear-gradient(197.11deg, #343434 1.84%, #1e1e1e 97.42%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.bodybutton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.headerbutton {
  margin-bottom: 34px;
  color: #fff;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 30px;
}
